
:root {
    --main-picture-size: 196px;
    --names-under-pic: 178px;
  }

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}
#mainBar {
    width: 100vw;
    height: 10%;
    background-color: #232C5D;
    position: relative;
    text-align: center;
    font-size: 50px;
    font-family: Candara;
    color: #FFFFFF;
    z-index: 2;
}
#mainbar h1{
    margin-top: 2%;
}

.wrapper{
    display: flex;
    position: relative;
    overflow: hidden;
}

.sidebar {
	position: sticky;
	top: 0;
}

.wrapper .sidebar{
    position: fixed;
    display: block;
    width: 200px;
    height: 100%;
    background: #C2C6D8;
    padding: 30px 0;
}

.wrapper .sidebar h2{
	margin-top: 40px;
    color: #C2C6D8;
    text-align: center;
    margin-bottom: 30px;
}

.wrapper .sidebar ul li{
    padding: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(225,225,225,0.05);
	background: linear-gradient(to right, #C9CFE7 50%, #C2C6D8 50%);
	background-size: 200% 100%;
	background-position: right bottom;
}

.wrapper .sidebar ul li a{
    color: #232C5D;
    margin-left: 15px;
}

.wrapper .sidebar ul li:hover{
	background-position: left bottom;
	transition: all .5s ease-out;
}

.wrapper .sidebar ul li:hover a{
    color: #fff;
}

.teambar{
    padding: 10px;
    background-color: grey;
    height: 273px;
    width: 1260px;
    margin-left: 250px;
    margin-top: 2%;
    background-color: #E1E6FF;
    overflow: hidden;
    float: left;
    border: 2px solid #B3B3B3;
}
.teambar #individual{
    content: "";
    clear: both;
    display: table;
  }

.teambar #individual #cedricpic{
    background-color: #E1E6FF;
    height: var(--main-picture-size);
    width:  var(--main-picture-size);
    background-image: url(groepfotos/cedric.jpg);
    background-size: var(--main-picture-size);
    float:left;
}
.teambar #individual #cedricpic h2{
    text-align: center;
    margin-top: var(--names-under-pic);
    font-size: 20px;
}

.teambar #individual #baspic{
    background-color: #E1E6FF;
    height: var(--main-picture-size);
    width: var(--main-picture-size);
    background-image: url(groepfotos/bas.jpg);
    background-size: var(--main-picture-size);
    float:left;
    margin-left: 1%;
}

.teambar #individual #baspic h2{
    text-align: center;
    margin-top: var(--names-under-pic);
    font-size: 20px;
}

.teambar #individual #ronanpic{
    background-color: #E1E6FF;
    height: var(--main-picture-size);
    width: var(--main-picture-size);
    background-image: url(groepfotos/ronan.jpg);
    background-size: var(--main-picture-size);
    float:left;
    margin-left: 1%;
}

.teambar #individual #ronanpic h2{
    text-align: center;
    margin-top: var(--names-under-pic);
    font-size: 20px;
}

.teambar #individual #youripic{
    background-color: #E1E6FF;
    height: var(--main-picture-size);
    width: var(--main-picture-size);
    background-image: url(groepfotos/youri.jpg);
    background-size: var(--main-picture-size);
    float:left;
    margin-left: 1%;
}

.teambar #individual #youripic h2{
    text-align: center;
    margin-top: var(--names-under-pic);
    font-size: 20px;
}

.teambar #individual #nikkipic{
    background-color: #E1E6FF;
    height: var(--main-picture-size);
    width: var(--main-picture-size);
    background-image: url(groepfotos/nikki.jpg);
    background-size: var(--main-picture-size);
    float:left;
    margin-left: 1%;
}

.teambar #individual #nikkipic h2{
    text-align: center;
    margin-top: var(--names-under-pic);
    font-size: 20px;
}

.teambar #individual #robertpic{
    background-color: #E1E6FF;
    height: var(--main-picture-size);
    width: var(--main-picture-size);
    background-image: url(groepfotos/robert2.jpg);
    background-size: var(--main-picture-size);
    float:right;
    margin-right: -5%;
}

.teambar #individual #robertpic h2{
    text-align: center;
    margin-top: var(--names-under-pic);
    font-size: 20px;
}

.wrapper2 .groepsafbeelding{
    background-image: url(groepfotos/groepsafbeelding.jpg);
    width: 600px;
    height: 332.52px;
    background-color: black;
    padding: 1%;
    margin-top: 2%;
    background-size: 600px;
    float: right;
    margin-right: 1%;
    border: 5px solid #B3B3B3;
}

.wrapper2 .text_over_ons{
    width: 40%;
    margin-top: 2%;
    margin-left: 250px;
    float: left;
    margin-bottom: 10px;
}

#individual #cedricpic:hover 
{
    filter: contrast(0.9);
    transition: ease 0.5s;
    transform: scale(1.1);
    border:  #B3B3B3 2px solid;
}
#individual #baspic:hover 
{
    filter: contrast(0.9);
    transition: ease 0.5s;
    transform: scale(1.1);
    border:  #B3B3B3 2px solid;
}
#individual #ronanpic:hover 
{
    filter: contrast(0.9);
    transition: ease 0.5s;
    transform: scale(1.1);
    border:  #B3B3B3 2px solid;
}
#individual #youripic:hover 
{
    filter: contrast(0.9);
    transition: ease 0.5s;
    transform: scale(1.1);
    border:  #B3B3B3 2px solid;
}
#individual #nikkipic:hover 
{
    filter: contrast(0.9);
    transition: ease 0.5s;
    transform: scale(1.1);
    border:  #B3B3B3 2px solid;
}
#individual #robertpic:hover 
{
    filter: contrast(0.9);
    transition: ease 0.5s;
    transform: scale(1.1);
    border:  #B3B3B3 2px solid;
}

html {
    max-width: 100%;
    overflow-x: hidden;
}