
:root {
    --main-picture-size: 196px;
    --names-under-pic: 178px;
  }

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
#mainBar {
    width: 100vw;
    height: 10%;
    background-color: #B27563;
    position: relative;
    text-align: center;
    font-size: 50px;
    font-family: Candara;
    color: #FFFFFF;
}
#mainbar h1{
    margin-top: 2%;
}

.wrapper{
    display: flex;
    position: relative;
    overflow: hidden;
}

.wrapper .sidebar{
    position: fixed;
    display: block;
    width: 200px;
    height: 100%;
    background: #E19770;
    padding: 30px 0;
}

.wrapper .sidebar h2{
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}

.wrapper .sidebar ul li{
    padding: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(225,225,225,0.05);
}

.wrapper .sidebar ul li a{
    color: #F6D2BF;
    margin-left: 15px;
}

.wrapper .sidebar ul li:hover{
    background: #F0BAA0;
}

.wrapper .sidebar ul li:hover a{
    color: #fff;
}

.teambar{
    padding: 10px;
    background-color: grey;
    height: 263px;
    width: 83%;
    margin-left: 16%;
    margin-top: 2%;
    background-color: #F0BAA0;
    overflow: hidden;
    float: left;
}
.teambar #individual{
    content: "";
    clear: both;
    display: table;
  }

.teambar #individual #cedricpic{
    background-color: #F0BAA0;
    height: var(--main-picture-size);
    width: var(--main-picture-size);
    background-image: url(groepfotos/cedric.jpg);
    background-size: var(--main-picture-size);
    float:left;
}
.teambar #individual #cedricpic h2{
    text-align: center;
    margin-top: var(--names-under-pic);
}

.teambar #individual #baspic{
    background-color: #F0BAA0;
    height: var(--main-picture-size);
    width: var(--main-picture-size);
    background-image: url(groepfotos/bas.jpg);
    background-size: var(--main-picture-size);
    float:left;
    margin-left: 1%;
}

.teambar #individual #baspic h2{
    text-align: center;
    margin-top: var(--names-under-pic);
}

.teambar #individual #ronanpic{
    background-color: #F0BAA0;
    height: var(--main-picture-size);
    width: var(--main-picture-size);
    background-image: url(groepfotos/ronan.jpg);
    background-size: var(--main-picture-size);
    float:left;
    margin-left: 1%;
}

.teambar #individual #ronanpic h2{
    text-align: center;
    margin-top: var(--names-under-pic);
}

.teambar #individual #youripic{
    background-color: #F0BAA0;
    height: var(--main-picture-size);
    width: var(--main-picture-size);
    background-image: url(groepfotos/youri.png);
    background-size: var(--main-picture-size);
    float:left;
    margin-left: 1%;
}

.teambar #individual #youripic h2{
    text-align: center;
    margin-top: var(--names-under-pic);
}

.teambar #individual #nikkipic{
    background-color: #F0BAA0;
    height: var(--main-picture-size);
    width: var(--main-picture-size);
    background-image: url(groepfotos/nikki.jpg);
    background-size: var(--main-picture-size);
    float:left;
    margin-left: 1%;
}

.teambar #individual #nikkipic h2{
    text-align: center;
    margin-top: var(--names-under-pic);
}

.teambar #individual #robertpic{
    background-color: #F0BAA0;
    height: var(--main-picture-size);
    width: var(--main-picture-size);
    background-image: url(groepfotos/robert.jpg);
    background-size: var(--main-picture-size);
    float:right;
    margin-right: -5%;
}

.teambar #individual #robertpic h2{
    text-align: center;
    margin-top: var(--names-under-pic);
}

.wrapper2 .groepsafbeelding{
    background-image: url(groepfotos/groepsafbeelding.jpg);
    width: 600px;
    height: 332.52px;
    background-color: black;
    padding: 1%;
    margin-top: 2%;
    background-size: 600px;
    float: right;
    margin-right: 1%;
    border: 5px solid #B27563;
}

.wrapper2 .text_over_ons{
    width: 40%;
    margin-top: 2%;
    margin-left: 240px;
    float: left;
}

#individual #cedricpic:hover 
{
    filter: contrast(0.9);
    transition: ease 0.5s;
    transform: scale(1.1);
}
#individual #baspic:hover 
{
    filter: contrast(0.9);
    transition: ease 0.5s;
    transform: scale(1.1);
}
#individual #ronanpic:hover 
{
    filter: contrast(0.9);
    transition: ease 0.5s;
    transform: scale(1.1);
}
#individual #youripic:hover 
{
    filter: contrast(0.9);
    transition: ease 0.5s;
    transform: scale(1.1);
}
#individual #nikkipic:hover 
{
    filter: contrast(0.9);
    transition: ease 0.5s;
    transform: scale(1.1);
}
#individual #robertpic:hover 
{
    filter: contrast(0.9);
    transition: ease 0.5s;
    transform: scale(1.1);
}


/* #sidebar {
    width: 230px;
    height: 1194px;
    background-color: #E19770;
    margin-left: -1%;
    margin-top: -4.5%;
}
#sidebar a {
    text-decoration: none;
    font-family: "Segoe UI";
    font-size:30px;
    text-decoration: unset;
    color: #FFFFFF;
}
#sidebar ul li {
    list-style-type: none;
}

#teampic {
    width: 768px;
    height: 432px;
    background-color: grey;
    align-content: center;
    margin-left: 1000px;
    margin-top: -700px;
    background-image: url(indexresource/groepsfoto.jpg);
    background-size: 768px auto;
    border:5px solid #B27563;
}

#teambar {
    width:1567px;
    height:326px;
    background-color: #F0BAA0;
    margin-left: 339px;
    margin-top: -900px;
    border: 2px solid gray;
}

#individual #cedricpic {
    width:250px;
    height:250px;
    background-color: blue;
    margin-left: 359px;
    margin-top: -300px;
    background-image: url(groepfotos/cedric.jpg);
    background-size: 250px auto;
}

#individual #baspic {
    width:250px;
    height:250px;
    background-color: red;
    margin-left: 620px;
    margin-top: -250px;
    background-image: url(groepfotos/bas.jpg);
    background-size: 250px auto;
}

#individual #ronanpic {
    width:250px;
    height:250px;
    background-color: purple;
    margin-left: 882px;
    margin-top: -250px;
    background-image: url(groepfotos/ronan.jpg);
    background-size: 250px auto;
}

#individual #youripic {
    width:250px;
    height:250px;
    background-color: green;
    margin-left: 1143px;
    margin-top: -250px;
    background-image: url(groepfotos/youri.jpg);
    background-size: 250px auto;
}

#individual #nikkipic {
    width:250px;
    height:250px;
    background-color: yellow;
    margin-left: 1404px;
    margin-top: -250px;
    background-image: url(groepfotos/nikki.jpg);
    background-size: 250px auto;
}

#individual #robertpic {
    width:250px;
    height:250px;
    background-color: orange;
    margin-left: 1666px;
    margin-top: -250px;
    background-image: url(groepfotos/robert.jpg);
    background-size: 250px auto;
}

#indi-text {
    margin-top: -8%;
    margin-left: 20%;
}

#indi-text #cedricname {
    float: left;
    padding: 10% 2%;
}

#indi-text #basname {
    float: left;
    padding: 10% 2%;
    padding-left: 7%;
}

#indi-text #ronanname {
    float: left;
    padding: 10% 2%;
    padding-left: 5%;
}
#indi-text #youriname {
    float: left;
    padding: 10% 2%;
    padding-left: 3%;
}
#indi-text #nikkiname {
    float: left;
    padding: 10% 2%;
    padding-left: 3%;
}

#indi-text #robertname {
    float: left;
    padding: 10% 2%;
    padding-left: 2.25%;
}



#individual #cedricpic:hover 
{
    filter: contrast(0.9);
    transition: ease 0.5s;
    transform: scale(1.1);
}
#individual #baspic:hover 
{
    filter: contrast(0.9);
    transition: ease 0.5s;
    transform: scale(1.1);
}
#individual #ronanpic:hover 
{
    filter: contrast(0.9);
    transition: ease 0.5s;
    transform: scale(1.1);
}
#individual #youripic:hover 
{
    filter: contrast(0.9);
    transition: ease 0.5s;
    transform: scale(1.1);
}
#individual #nikkipic:hover 
{
    filter: contrast(0.9);
    transition: ease 0.5s;
    transform: scale(1.1);
}
#individual #robertpic:hover 
{
    filter: contrast(0.9);
    transition: ease 0.5s;
    transform: scale(1.1);
} */


/*
html {
    max-width: 100%;
    overflow-x: hidden;
}  */