
#mainBar {
    width: 1920px;
    height: 181px;
    background-color: #B27563;
    position: relative;
    text-align: center;
    font-size: 75px;
    font-family: Candara;
    color: #FFFFFF;
    margin-top: -101px;
    margin-left: -8px;
}

#sidebar {
    width: 321px;
    height: 1194px;
    background-color: #E19770;
    margin-left: -8px;
    margin-top: -16px;
}
#sidebar a {
    text-decoration: none;
    font-family: "Segoe UI";
    font-size:30px;
    text-decoration: unset;
    color: #FFFFFF;
}
#sidebar ul li {
    list-style-type: none;
}

#teampic {
    width: 768px;
    height: 432px;
    background-color: grey;
    align-content: center;
    margin-left: 1000px;
    margin-top: -700px;
    background-image: url(indexresource/groepsfoto.jpg);
    background-size: 768px auto;
    border:5px solid #B27563;
}

#teambar {
    width:1567px;
    height:326px;
    background-color: #F0BAA0;
    margin-left: 339px;
    margin-top: -900px;
    border: 2px solid gray;
}

#individual #cedricpic {
    width:250px;
    height:250px;
    background-color: blue;
    margin-left: 359px;
    margin-top: -300px;
    background-image: url(groepfotos/cedric.jpg);
    background-size: 250px auto;
}

#individual #baspic {
    width:250px;
    height:250px;
    background-color: red;
    margin-left: 620px;
    margin-top: -250px;
    background-image: url(groepfotos/bas.jpg);
    background-size: 250px auto;
}

#individual #ronanpic {
    width:250px;
    height:250px;
    background-color: purple;
    margin-left: 882px;
    margin-top: -250px;
    background-image: url(groepfotos/ronan.jpg);
    background-size: 250px auto;
}

#individual #youripic {
    width:250px;
    height:250px;
    background-color: green;
    margin-left: 1143px;
    margin-top: -250px;
    background-image: url(groepfotos/youri.jpg);
    background-size: 250px auto;
}

#individual #nikkipic {
    width:250px;
    height:250px;
    background-color: yellow;
    margin-left: 1404px;
    margin-top: -250px;
    background-image: url(groepfotos/nikki.jpg);
    background-size: 250px auto;
}

#individual #robertpic {
    width:250px;
    height:250px;
    background-color: orange;
    margin-left: 1666px;
    margin-top: -250px;
    background-image: url(groepfotos/robert.jpg);
    background-size: 250px auto;
}

#indi-text {
    margin-top: -8%;
    margin-left: 20%;
}

#indi-text #cedricname {
    float: left;
    padding: 10% 2%;
}

#indi-text #basname {
    float: left;
    padding: 10% 2%;
    padding-left: 7%;
}

#indi-text #ronanname {
    float: left;
    padding: 10% 2%;
    padding-left: 5%;
}
#indi-text #youriname {
    float: left;
    padding: 10% 2%;
    padding-left: 3%;
}
#indi-text #nikkiname {
    float: left;
    padding: 10% 2%;
    padding-left: 3%;
}

#indi-text #robertname {
    float: left;
    padding: 10% 2%;
    padding-left: 2.25%;
}




#individual #cedricpic:hover 
{
    filter: grayscale(1);
    transition: ease 0.5s;
}
#individual #baspic:hover 
{
    filter: grayscale(1);
    transition: ease 0.5s;
}
#individual #ronanpic:hover 
{
    filter: grayscale(1);
    transition: ease 0.5s;
}
#individual #youripic:hover 
{
    filter: grayscale(1);
    transition: ease 0.5s;
}
#individual #nikkipic:hover 
{
    filter: grayscale(1);
    transition: ease 0.5s;
}
#individual #robertpic:hover 
{
    filter: grayscale(1);
    transition: ease 0.5s;
}



html {
    max-width: 100%;
    overflow-x: hidden;
}